body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
    text-decoration: none;
}

.site-navigation a{
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a{
    color: #766357;
}

.sorting-criteria-list a {
    color: rgba(0, 0, 0, 0.3);
    font-size: 10px;
    line-height: 18px;
    
    border-bottom: 1px dotted #81b3d2;
}

.sorting-criteria-list a:hover,
.sorting-criteria-list a:focus{
    color: #81b3d2;
    
    border-bottom: 1px dotted #81b3d2;   
}

.sorting-criteria-list a:active {
    color: #000000;
    border: none;
}

.current-item a {
    color: #81b3d2;
    border: none;
}

.catalog-item-title a{
    color: #000000;
    font-size: 21px;
    line-height: 26px;
}

.catalog-item-title a:hover,
.catalog-item-title a:focus {
    color: #81b3d2;
}

.catalog-item-title a:active {
    color: rgba(0, 0, 0, 0.3);
}


.button {
    font: inherit;
    
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    
    text-align: center;
    vertical-align: middle;
    
    border: none;
}

.toggle-modal-button {
    font-size: 21px;
    line-height: 26px;
    
    background-color: #766357;
}

.toggle-modal-button:hover,
.toggle-modal-button:focus {
    background-color: #604e43;
}

.toggle-modal-button:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
}

.search-button {
    font-size: 21px;
    line-height: 26px;
    
    background-color: #81b3d2;
}

.search-button:hover,
.search-button:focus {
    background-color: #669ec0;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #5496bd;
}

.sorting-criteria-button {
    background: none;
}

.filter-button {
    background: none;
    border: 2px solid #ffffff;
    width: 133px;
    padding: 5px 33px 5px 35px;
}

.catalog-item-button {
    color: #ffffff;
}

.button-more {
    background-color: #81b3d2;
}

.button-more:hover,
.button-more:focus {
    background-color: #669ec0;
}

.button-more:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.button-to-book {
    background-color: #766357;
}

.button-to-book:hover,
.button-to-book:focus {
    background-color: #604e43;
}

.button-to-book:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.main-navigation {
    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
}

.about {
    font-size: 21px;
    line-height: 26px; 
    
    text-align: center;
}

.features h2 {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
    
    text-align: center;
}

.features-list {
    list-style: none;
}

.features-item-wide h3 {
    font-size: 21px;
    line-height: 21px;
    color: #ffffff;
    
    text-align: center;
}

.features-item-wide { 
    background-color: #81b3d2;
}

.features-item-wide p {
    color: #ffffff;
    
    text-align: center;
}

.features-item-wide span {
    text-align: center;
    
    display: block;    
}

.features-item {
    background-color: #eeeeee;
}

.features-item h3 {
    color: #000000;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    
    text-align: center;
}

.features-item span {
    text-align: center;
    
    display: block;  
}

.features-item p {
    color: #333333;
    
    text-align: center; 
}

.recommendations-list {
    list-style: none;
}

.recommendations-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    
    text-align: center;
}

.recommendations-item p {
    text-align: center;
}

.search-title b {
    font-size: 30px;
    line-height: 36px;
    
    text-align: center;
    
    display: block;
}

.search-title p {
    line-height: 24px;
    
    text-align: center;
}

.catalog-items-list {
    list-style: none;
}


.catalog-item-category, 
.catalog-item-price{
    color: #333333;
}

.filters {
    color: #ffffff;
    
    background-color: #81b3d2;
    background-image: url("../img/filter-background.jpg");
    background-position: 0 -300px;
    background-repeat: no-repeat;
}

.filter fieldset {
    border: none;
}


.filter legend {
    font-size: 16px;
    font-weight: 700;
}

.price-range span {
    border: 2px solid #ffffff;
}

.extended-sorting .sorting-count{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.extended-sorting span {
    font-size: 10px;
    line-height: 18px;
}

.sorting-criteria-list {
    list-style: none;
}

.main-footer {
    background-color: #ffffff;
    opacity: 0.9;
}

.footer-hashtag {
    font-size: 21px;
    line-height: 21px;
    text-decoration: capitalize;  
}

.social-footer {
    list-style: none;
}


.footer-copyright {
    text-align: center;
}

.modal {
    display: none;
}

.search-criteria input {
    font: inherit;
    text-transform: uppercase;
    line-height: 26px;
    
    border: none;
    background-color: #f2f2f2;
}

.search-criteria input:hover {
    background-color: #ebebeb;
}

.search-criteria input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.count {
    border: none;
    background-color: #f2f2f2;
}

/*Стили для сеток*/
.wrapper {
    width: 1200px;
    
    background-color: #ffffff;
    
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;
    
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.main-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
}

.main-header-logo img {
    width: 140px;
    height: 70px;
    
    position: absolute;
    left: 530px;
    top: 0;
}

.site-navigation {
    display: flex;
    justify-content: space-around;
    
    margin: 0;
    padding: 0;
    
    width: 100%;
}

.navigation-align {
    width: 478px;
    
    display: flex;
    flex-wrap: wrap;
}

.navigation-align li {
    padding-top: 16px;
    padding-bottom: 16px;
}

.navigation-align.left {
    justify-content: space-around;
}

.navigation-align.right {
    justify-content: space-around;
}

.background-container h1 {
    margin: 0;
    padding: 0;
}

.background-container {
    display: flex;
    
    background-image: url("../img/intro-mask.svg"),
                    url("../img/background_photo.jpg");
    background-repeat: no-repeat;
    background-position: 0 449px, 0 -80px;
    
    height: 506px;
    
    margin-bottom: 58px;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    
    margin-bottom: 23px;
}

.background-container img {
/*    outline: 2px solid brown;*/
    margin: 73px 371px 21px 371px;
}

.about {
    width: 440px;
    
    font-weight: 700;
    margin: 0;
}

.features h2{
    width: 489px;
    margin-bottom: 50px;
    
    font-weight: 700;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features-list {
    margin: 0;
    padding: 0;
}

.features-item-wide {
    display: flex;
    
    width: 100%;
}

.features-item {
    width: 208px;
    
    padding-top: 50px;
    padding-bottom: 59px;
}

.features-item-wide.sedona {
    background-image: url("../img/sedona.jpg");
    background-repeat: no-repeat;
    background-position: 400px;
}

.features-item-wide.canyon {
    background-image: url("../img/canyon.jpg");
    background-repeat: no-repeat;
    background-position: 0;
}

.features-text-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sedona .features-text-group {
    width: 280px;

    margin: 46px 60px 64px 60px;
}

.canyon .features-text-group {
    width: 303px;
    
    margin: 49px 49px 65px 848px;
}

.features-items-wrapper {
    display: flex;
    justify-content: space-around;
    
    background-color: #eeeeee;
}

.recommendations-list {
    display: flex;
    justify-content: space-around;
    
    margin: 0;
    padding: 0;
    
    width: 1200px;
}

.recommendations-item-text-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 252px;
    
    padding-bottom: 80px;
}

.recommendations-item {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.recommendations-item img {
    order: -1;
    
    width: 75px;
    height: 72px;
    
    padding-top: 61px;
    margin-bottom: 33px;
}

.search-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-wrapper {
    width: 434px;
    
    margin-top: 52px;
    margin-bottom: 40px;
    font-weight: 700;
}

.toggle-modal-button {
    width: 568px;
    
    margin: 0 auto;
    
    padding-top: 22px;
    padding-bottom: 20px;
    
    text-align: center;
}

.search-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-footer {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    
    width: 150px; 
}

.social-background {
    width: 46px;
    height: 48px;
    
    background-color: #81b3d2;
}


/*Внутренняя страница*/

.filter {
    display: flex;
} 

.filter fieldset {
    display: flex;
    justify-content: flex-start;
    
    width: 139px;
}

.filter-title {
    padding-top: 28px;
    padding-bottom: 25px;
}

.infrastructure-filters {
    padding-left: 72px;
}

.type-filters {
    padding-left: 116px;
}

.align-left-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 314px;
    
    margin-left: 349px;
    margin-right: 74px;
    margin-bottom: 37px;
    margin-top: 20px;
}

.extended-sorting {
    display: flex;
    align-items: center;
    
    width: 100%;
    
    margin-bottom: 30px;
    margin-top: 28px;
    margin-left: 72px;
}

.sorting-container {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    
    width: 600px;
}

.sorting-criteria-list {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    
    
    width: 200px;
}

.sorting-button-group {
    margin-right: 73px;
}

.catalog {
    display: flex;
    flex-direction: column;
    
    width: 1200px;
}


.catalog-items-list {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    margin: 0;
    padding: 0;
}

.catalog-item {
    display: flex;
    
    border-top: 1px solid #f2f2f2;
}

.catalog-item:last-child {
    border-bottom: 1px solid #f2f2f2;
}

.title-wrapper {
    order: 2;
    
    margin-left: 30px;
}

.catalog-item-image {
    order: 0;
    
    margin-left: 72px;
}

.catalog-item-rating {
    order: 3; 
}

.rating {
    height: 17px;
    
    background-image: url("../img/star.svg");
    background-repeat: space no-repeat;
}

.catalog-item-rating span {
    color: #666666;
    
    background-color: #f2f2f2;
    
    padding-left: 16px;
    padding-right: 13px;
}

.two-stars {
    width: 41px;
}

.three-stars {
    width: 65px;
}

.four-stars {
    width: 90px;
}

.search-title img {
    width: 1200px;
    height: 593px;
}