html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    position: relative;
    
    display: flex;
    flex-direction: column;
    width: 1200px;
    
    background-color: #ffffff;
    
    margin: 0 auto;
    min-height: 100vh;
    
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

main {
    flex-grow: 1;
}

.sorting-criteria-list a {
    color: rgba(0, 0, 0, 0.3);
    font-size: 10px;
    line-height: 18px;
    
    border-bottom: 1px dotted #81b3d2;
}

.sorting-criteria-list a:hover,
.sorting-criteria-list a:focus{
    color: #81b3d2;
    
    border-bottom: 1px dotted #81b3d2;   
}

.sorting-criteria-list a:active {
    color: #000000;
    border: none;
}

.current-item a {
    color: #81b3d2;
    border: none;
}

.catalog-item-title a{
    color: #000000;
    font-size: 21px;
    line-height: 26px;
}

.catalog-item-title a:hover,
.catalog-item-title a:focus {
    color: #81b3d2;
}

.catalog-item-title a:active {
    color: rgba(0, 0, 0, 0.3);
}


.button {
    font: inherit;
    
    cursor: pointer;
    
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    
    text-align: center;
    
    border: none;
}


.search-button {
    font-size: 21px;
    line-height: 26px;
    
    background-color: #81b3d2;
    
    min-width: 458px;
    white-space: nowrap;
    
    margin: 0 auto;
    margin-top: 55px;
    padding-left: 196px;
    padding-right: 197px;
    padding-top: 14px;
    padding-bottom: 18px;
    
    text-align: center;
}

.search-button:hover,
.search-button:focus {
    background-color: #669ec0;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #5496bd;
}

.sorting-criteria-button {
    background: none;
}


.main-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    
    background-color: #ffffff;
}

.site-navigation a {
    font-weight: 700;
    color: #000000;
    display: block;
    
    padding: 18px 74px;
    min-width: 240px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

a.current{
    color: #766357;
}

.main-header-logo {
    width: 140px;
    height: 70px;
    
    position: absolute;
    left: 530px;
    top: 0;
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    
    width: 100%;
    
    list-style: none;
}

.navigation-align {
    width: 500px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.background-container {
    display: flex;
    
    background-image: url("../img/intro-mask.svg"),
                    url("../img/background_photo.jpg");
    background-repeat: no-repeat;
    background-position: 0 452px, 0 -83px;
    background-color: #4B7192;
    
    height: 509px;
    
    margin-bottom: 58px;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    
    margin-bottom: 30px;
}

.background-container img {
    margin: 16px 371px 21px 371px;
}

.about {
    width: 440px;
    margin: 0;
    
    font-weight: 700;
    font-size: 21px;
    line-height: 26px; 
    text-align: center;
}

.features h2{
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    
    text-align: center;
    
    width: 490px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 50px;
}

.features-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}


.features-item.wide {
    display: flex;
    
    width: 100%;
    background-color: #81b3d2;
    padding: 0;
}

.features-item.wide h3 {
    font-size: 21px;
    line-height: 21px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    
    text-align: center;
}

.features-item.wide p {
    margin: 0;
    padding: 0;
    color: #ffffff;
    
    text-align: center;
}

.features-item span {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    
    display: block;    
}

.features-item.wide.sedona {
    background-image: url("../img/sedona.jpg");
    background-repeat: no-repeat;
    background-position: 400px;
}

.features-item.wide.canyon {
    background-image: url("../img/canyon.jpg");
    background-repeat: no-repeat;
    background-position: 0;
}

.features-text-group {
    padding: 0;
    text-align: center;
    
    width: 400px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.sedona .features-text-group {
    margin-right: auto;
}

.canyon .features-text-group {
    margin-left: auto;
}


.recommendations-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    
    width: 1200px;
    
    list-style: none;
}

.recommendations-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    width: 400px;
}

.recommendations-item img {
    order: -1;
    
    width: 75px;
    height: 72px;
    
    padding: 0;
    margin-bottom: 25px;
}

.recommendations-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    
    text-align: center;
}

.recommendations-item p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.recommendations-item-text-group {
    padding-bottom: 85px;
}


.features-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    background-color: #eeeeee;
    margin-bottom: 50px;
}

.features-item {
    padding-top: 50px;
    padding-bottom: 60px;
    
    width: 400px;
    
    background-color: #eeeeee;
}

.features-item h3 {
    color: #000000;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
}

.features-item p {
    color: #333333;
    margin: 0;
    padding: 0;
    
    text-align: center; 
}

.container-align {
    position: relative;
    width: 568px;
    margin: 0 auto;
}

.search-title b {
    font-size: 30px;
    line-height: 36px;
    
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    
    text-align: center;
    
    display: block;
}

.search-title p {
    line-height: 24px;
    
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    
    text-align: center;
}

.toggle-modal-button {
    position: relative;
    display: block;
    
    margin: 0 auto;
    width: 100%;
    padding-left: 140px;
    padding-right: 138px;
    padding-top: 30px;
    padding-bottom: 30px;
    
    white-space: nowrap;
    
    font-size: 21px;
    line-height: 26px;
    
    background-color: #766357;
    
    text-align: center;
}

.toggle-modal-button:hover,
.toggle-modal-button:focus {
    background-color: #604e43;
}

.toggle-modal-button:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
}

.search-modal {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    position: absolute;
    z-index: 1; 
    
    max-width: 568px;
    padding: 55px;  
    
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search-criteria {
    display: flex;
    
    position: relative;
}

.search-criteria.wide {
    margin-bottom: 30px;
}


.search-criteria label{
    width: 112px;
    font-size: 14px;
    line-height: 26px;
    
    display: inline-block;
    vertical-align: middle;
    
    padding-top: 7px;
    padding-bottom: 8px;
}

.search-criteria:last-child label {
    width: 38px;
    margin-right: 27px;
}

.search-criteria input {
    font: inherit;
    text-transform: uppercase;
    line-height: 26px;
    
    border: none;
    background-color: #f2f2f2;
}

.search-criteria input:hover {
    background-color: #ebebeb;
}

.search-criteria input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.criteria-input-number {
    font-size: 14px;
    line-height: 26px;
    
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 15px;
    width: 38px;
    height: 38px;
}

.criteria-input {
    width: 346px;
    padding: 0;
    padding-left: 12px;
    padding-right: 230px;
}

.search-criteria svg {
    width: 21px;
    height: 22px;
    
    position: absolute;
    right: 9px;
    top: 25%;
    
    fill: #cacaca; 
}

.search-criteria svg:hover,
.search-criteria svg:focus{
    fill: #000000;
}

.search-criteria svg:active {
    fill: #81b3d2;
}

.search-criteria-wrapper {
    display: flex;
    justify-content: space-between;
}


button.count {
    position: relative;
    
    font-size: 0;
    
    border: none;
    background-color: #f2f2f2;
    
    padding-top: 12px;
    padding-left: 13px;
    padding-bottom: 13px;
    padding-right: 12px;
    
    width: 38px;
    height: 38px;
}

button.minus::before {
    content: "";
    display: block;
    
    width: 11px;
    height: 3px;
    position: absolute;
    background-color: #aaaaaa;
}

button.minus:hover::before,
button.minus:focus::before,
button.plus:hover::before,
button.plus:hover::after,
button.plus:focus::before,
button.plus:focus::after {
    background-color: #000000;
}

button.minus:active::before,
button.plus:active::before,
button.plus:active::after {
    background-color: #81b3d2;
}

button.plus::before {
    content: "";
    display: block;
    
    width: 11px;
    height: 3px;
    position: absolute;
    background-color: #aaaaaa;
}

button.plus::after {
    content: "";
    display: block;
    
    width: 3px;
    height: 12px;
    position: absolute;
    background-color: #aaaaaa;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.search-map img {
    position: relative;
}


/*Всё про фильтр каталога*/

.filters {
    color: #ffffff;
    
    background-color: #81b3d2;
    background-image: url("../img/filter-background.jpg");
    background-position: 0 -300px;
    background-repeat: no-repeat;
}


.filter legend {
    font-size: 16px;
    font-weight: 700;
}


.filter {
    display: flex;
    
    padding-top: 28px;
    padding-right: 75px;
    padding-bottom: 28px;
    padding-left: 72px;
} 

.filter fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    width: 139px;
    border: none;
}

.filter-title {
    padding-bottom: 25px;
}

.infrastructure-filters {
    margin: 0;
    padding: 0;
}

.type-filters {
    margin: 0;
    padding: 0;
    margin-left: 116px;
}

.filter-input-checkbox + label {
    min-height: 23px;
    margin-bottom: 23px;
    padding-left: 40px;
    position: relative;
}

.filter-input-checkbox + label:last-of-type {
    margin-bottom: 0;
}

.filter-input-checkbox + label::before {
    content: "";
    
    position: absolute;
    width: 27px;
    height: 23px;
    
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 0;
}

.filter-input-checkbox:checked + label::before {
    background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:disabled + label::before {
     background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input-checkbox:checked:disabled + label::before {
    background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-range {
    width: 314px;
    margin-left: auto;
}

.filter-range-title {
    margin-bottom: 9px;

    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    
    height: 36px;
    margin-bottom: 20px;
    
    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;


    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);

}

.price-controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 32px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    box-sizing: content-box;
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    
    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    box-sizing: content-box;
    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover,
.range-toggle:focus{
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.filter-button {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    color: #000000;
    background: #ffffff;
}

/*Всё про extended sorting*/
.extended-sorting {
    display: flex;
    align-items: center;
    
    width: 100%;
    
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 72px;
}

.sorting-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    
    width: 600px;
}

.sorting-criteria-list {
    display: flex;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
    
    width: 300px;
    
    list-style: none;
}

.sorting-criteria-list a {
    display: block;
    margin-right: 30px;
    
    font-size: 12px;
    line-height: 18px;
}

.extended-sorting .sorting-count{
    display: block;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.extended-sorting .sorting-heading {
    display: block;
    font-size: 12px;
    line-height: 18px;
}


.sorting-button-group {
    margin: 0 auto; 
    margin-right: 70px;
}

.sorting-criteria-button {
    padding-right: 3px;
    margin: 0;
}

.sorting-criteria-button path {
    fill: #cacaca;
}

.active path {
    fill: #81b3d2;
}

.sorting-criteria-button path:hover,
.sorting-criteria-button path:focus{
    fill: #000000;
}

.sorting-criteria-button path:active {
    fill: #81b3d2;
}


/*Всё про каталог*/
.catalog-items-list {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.catalog-item {
    display: flex;
    height: 150px;
    
    padding-top: 30px;
    padding-right: 75px;
    padding-bottom: 30px;
    padding-left: 72px;
    
    border-top: 1px solid #f2f2f2;
}

.catalog-item:last-child {
    border-bottom: 1px solid #f2f2f2;
}

.catalog-item-image{
    width: 135px;
    height: 90px;
    
    margin: 0;
    margin-right: 30px;
    padding: 0;
    
    order: 0;
}

.title-wrapper {
    font-size: 0;
    order: 2;
    padding: 0;
    min-width: 260px;
}

.title-wrapper p {
    margin: 0;
    margin-bottom: 12px;
}

.catalog-item-title {
    margin: 0;
    margin-top: -5px;
    padding: 0;
    margin-bottom: 10px;
    
    font-size: 21px;
    line-height: 26px;
}

.catalog-item-category, 
.catalog-item-price{
    display: inline-block;
    vertical-align: middle;
    
    font-size: 14px;
    line-height: 21px;
    
    margin: 0;
    padding: 0;
    
    color: #333333;
}

.catalog-item-category {
    width: 96px;
    margin-right: 20px; 
}

.catalog-item-price {
    width: 66px;
}

.catalog-item-button {
    display: inline-block;
    vertical-align: middle;
    
    white-space: nowrap;
    
    font-size: 14px;
    line-height: 21px;

    margin: 0;
    padding-top: 4px;
    padding-right: 16px;
    padding-bottom: 3px;
    padding-left: 17px;
    
    text-align: center;
    
    color: #ffffff;
}

.button-more {
    min-width: 110px;
    
    margin-right: 6px;
    
    background-color: #81b3d2;
}

.button-more:hover,
.button-more:focus {
    background-color: #669ec0;
}

.button-more:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.button-to-book {
    min-width: 142px;

    background-color: #766357;
}

.button-to-book:hover,
.button-to-book:focus {
    background-color: #604e43;
}

.button-to-book:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.catalog-item-rating {
    order: 3;
    
    padding: 0;
    margin: 0 auto;
    margin-right: 0;   
}

.rating {
    height: 17px;
    
    background-image: url("../img/star.svg");
    background-repeat: space no-repeat;
    
    margin: 0 auto;
    margin-right: 0;
    margin-bottom: 47px;
}

.catalog-item-rating span {
    display: block;
    
    color: #666666;
    background-color: #f2f2f2;
    
    text-align: center;
    
    min-width: 110px;
    white-space: nowrap;
    
    margin: 0 auto;
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 3px;
    padding-left: 15px;   
}

.two-stars {
    width: 41px;
}

.three-stars {
    width: 65px;
}

.four-stars {
    width: 90px;
}

/*Всё про футер*/


.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-top: 36px;
    padding-right: 100px;
    padding-bottom: 36px;
    padding-left: 132px;
     
    background-color: #ffffff;
    opacity: 0.9;
}


.main-footer.main {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;  
}

.footer-hashtag {
    font-size: 21px;
    line-height: 21px;
}

.social-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    margin: 0 auto;
    padding: 0;
    
    width: 150px;
    
    list-style: none;
}

.social-background {
    position: relative;
    
    width: 46px;
    height: 48px;
    
    cursor: pointer;
    
    background-color: #81b3d2;
}

.social-background:hover,
.social-background:focus {
    background-color: #669ec0;
}

.social-background:active {
    background-color: #5496bd;
}

.social-background img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-background img:active {
    opacity: 0.3;
}

.footer-copyright {
    display: flex;
    margin: 0;
}

.footer-copyright span {
    display: block;
    
    padding-top: 10px;
    margin-right: 8px;
}

.footer-copyright svg {
    display: block;
    
    width: 115px;
    height: 41px;
}
