body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.site-navigation a{
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a{
    color: #766357;
}

.sorting-criteria-list a {
    color: rgba(0, 0, 0, 0.3);
    font-size: 10.5px;
    line-height: 17.5;
    
    border-bottom: 1px dotted #81b3d2;
}

.sorting-criteria-list a:hover,
.sorting-criteria-list a:focus{
    color: #81b3d2;
    
    border-bottom: 1px dotted #81b3d2;   
}

.sorting-criteria-list a:active {
    color: #000000;
    border: none;
}

.current-item a {
    color: #81b3d2;
    border: none;
}

.catalog-item-title a{
    color: #000000;
    font-size: 21px;
    line-height: 26px;
}

.catalog-item-title a:hover,
.catalog-item-title a:focus {
    color: #81b3d2;
}

.catalog-item-title a:active {
    color: rgba(0, 0, 0, 0.3);
}


.button {
    font: inherit;
    
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    
    text-align: center;
    vertical-align: middle;
    
    border: none;
}

.toggle-modal-button {
    font-size: 21px;
    line-height: 26px;
    
    background-color: #766357;
}

.toggle-modal-button:hover,
.toggle-modal-button:focus {
    background-color: #604e43;
}

.toggle-modal-button:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
}

.search-button {
    font-size: 21px;
    line-height: 26px;
    
    background-color: #81b3d2;
}

.search-button:hover,
.search-button:focus {
    background-color: #669ec0;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #5496bd;
}

.filter-button {
    background: none;
    border: 2px solid #ffffff;
}

.catalog-item-button {
    color: #ffffff;
}

.button-more {
    background-color: #81b3d2;
}

.button-more:hover,
.button-more:focus {
    background-color: #669ec0;
}

.button-more:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.button-to-book {
    background-color: #766357;
}

.button-to-book:hover,
.button-to-book:focus {
    background-color: #604e43;
}

.button-to-book:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.main-navigation {
    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
}

.about {
    font-size: 21px;
    line-height: 26px; 
    
    text-align: center;
}

.features h2 {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
    
    text-align: center;
}

.features-list {
    list-style: none;
}

.features-item-wide h3 {
    font-size: 21px;
    line-height: 21px;
    color: #ffffff;
    
    text-align: center;
}

.features-item-wide { 
    background-color: #81b3d2;
}

.features-item-wide p {
    color: #ffffff;
    
    text-align: center;
}

.features-item-wide span {
    text-align: center;
    
    display: block;    
}

.features-item {
    background-color: #eeeeee;
}

.features-item h3 {
    color: #000000;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    
    text-align: center;
}

.features-item span {
    text-align: center;
    
    display: block;  
}

.features-item p {
    color: #333333;
    
    text-align: center; 
}

.recommendations-list {
    list-style: none;
}

.recommendations-item h3 {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    
    text-align: center;
}

.recommendations-item p {
    text-align: center;
}

.search-title b {
    font-size: 30px;
    line-height: 36px;
    
    text-align: center;
    
    display: block;
}

.search-title p {
    line-height: 24px;
    
    text-align: center;
}

.catalog-items-list {
    list-style: none;
}


.catalog-item-category, 
.catalog-item-price{
    color: #333333;
}

.filters {
    color: #ffffff;
    
    background-color: #81b3d2;
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
}

.filter fieldset {
    border: none;
}

.filter-options-list {
    list-style: none;
}

.filter legend {
    font-size: 16px;
    font-weight: 700;
}

.price-range span {
    border: 2px solid #ffffff;
}

.extended-sorting .sorting-count{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.extended-sorting span {
    font-size: 10.5px;
    line-height: 17.5px;
}

.sorting-criteria-list {
    list-style: none;
}

.main-footer {
    background-color: #ffffff;
    opacity: 0.9;
}

.footer-hashtag {
    font-size: 21px;
    line-height: 21px;
    text-decoration: capitalize;  
}

.social-footer {
    list-style: none;
}

.footer-copyright {
    text-align: center;
}

.modal {
    display: none;
}

.search-criteria input {
    font: inherit;
    text-transform: uppercase;
    line-height: 26px;
    
    border: none;
    background-color: #f2f2f2;
}

.search-criteria input:hover {
    background-color: #ebebeb;
}

.search-criteria input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.count {
    border: none;
    background-color: #f2f2f2;
}